<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart for {{searchString}}</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</head>


<body>
    <canvas id="lineChart" width="900px" height="400px"></canvas>
    <script>
      var ctx = document.getElementById("lineChart").getContext("2d");
      var myChart = new Chart(ctx, {
                                    data:  {
                                            labels: {{names_of_products | safe}},
                                            datasets: [{
                                                         type: 'bar',
                                                         label: 'Current Price',

                                                         data: {{current_price_values | safe}},
                                                         borderColor: 'rgba(41, 128, 185, 1)' ,
                                                         backgroundColor: 'rgba(127, 179, 213, 0.7)'
                                                        },
                                                        {
                                                         type: 'bar',
                                                         label: 'Real Price',

                                                         data: {{real_price_values | safe}},
                                                         borderColor: 'rgba(40, 180, 99, 1)',
                                                         backgroundColor: 'rgba(125, 206, 160, 0.7)'
                                                       }]
                                                    },
                                    options:{
                                             responsive: true,
                                             plugins: {
                                                      legend: {
                                                               position: 'top',
                                                              },
                                                      title: {
                                                              display: true,
                                                              text: 'Most Popular Products based on number of ratings (Left to Right)'
                                                             }
                                                      },
                                             scales: {
                                                      y: {
                                                          beginAtZero: true
                                                          }
                                                      }
                                             }
                                    });
    </script>
</body>

</html>