{% extends 'base.html' %}

{% block head %}

    <meta charset="UTF-8">
    <title>Train New Model</title>
    <link rel="stylesheet" href='/static/css/make_new_model.css' />


{% endblock %}

{% block body %}

<h1 style="text-align:center;">Upload the Data  (or) Fetch data from Flipkart </h1>

<div align="center" style="justify-content: center; text-align: center; display: flex; margin-top: 100px;">

    <div class="box1" align="left">
    <form action="/upload" method="POST" enctype="multipart/form-data">

        <span class="text-center">Upload Data and Create Model</span>

         <div class="input-container">
            <input type="text" required="" name="UserId_l" id="UserId_l" />
            <label>UserId :</label>
        </div>

        <div class="input-container">
            <input type="text" required="" name="ProjectId_l" id="ProjectId_l"/>
            <label>ProjectId :</label>
        </div>
        <div class="input-container">
            <label >Select file to upload:</label>
            <input class="btn" type="file" name="fileToUpload" id="fileToUpload">
        </div>
      <input class="btn" type="submit" value=" Upload and Create Model">

    </form>
    </div>

    <div class="box2" align="right">
    <form action="/review" method="POST">

        <span class="text-center">Fetch Data and Create Model</span>

        <div class="input-container">
            <input type="text" required="" name="UserId_r" id="UserId_r" />
            <label>UserId :</label>
        </div>

        <div class="input-container">
            <input type="text" required="" name="ProjectId_r" id="ProjectId_r"/>
            <label>ProjectId :</label>
        </div>

        <div class="input-container">
            <input type="text" required="" name="content" id="content"/>
            <label>Product Name</label>
        </div>

        <div class="input-container">
            <input type="number" required="" name="num" id="num"/>
            <label>Number of comments</label>
        </div>

        <div >
            <input type="checkbox"  value="multi_products" name="multi_products" id="multi_products">
            <label for="multi_products" style="color:White">Select from multiple products</label>
        </div>

        <input class="btn" type="submit" value=" Fetch & Create Model "> <!-- submit -->

    </form>
    </div>


</div>

{% endblock %}
