{% extends 'base.html' %}

{% block head %}

<title>Prediction Page</title>
<link rel="stylesheet" href='/static/css/index.css' />

{% endblock %}

{% block body %}
<form action="/" >
        <input type="submit" value="Home">
</form>

<div class="box">

	<form action="/predict" method="POST">

		<span class="text-center">Predict on Available Trained Model</span>

        <div class="input-container">
            <input type="text" required="" name="UserId" id="UserId" />
            <label>UserId :</label>
        </div>

        <div class="input-container">
            <input type="text" required="" name="ProjectId" id="ProjectId"/>
            <label>ProjectId :</label>
        </div>

        <div class="input-container">
            <input type="text" required="" name="predict_text" id="predict_text" size="150"/>
            <label>Text to predict on:</label>
        </div>

        <input class="btn" type="submit" value="    Predict    "> <!-- submit -->

    </form>

    {% if result %}
        <h4 style="color:White">Sentiment Score is : <h3 style="color:White">{{result}}</h3></h4>
    {% endif %}
    {% if info %}
        <h4 style="color:White">{{info}}</h4>
    {% endif %}
    {% if exception %}
        <h4 style="color:White">{{exception}}</h4>
    {% endif %}
</div>

{% endblock %}

