{% extends 'base.html' %}

{% block head %}

    <meta charset="UTF-8">
    <title>Main Page for the App</title>
    <style>
        .button
        {
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }

        .button1 {background-color: #4CAF50;} /* Green */

        .button2 {background-color: #008CBA;} /* Blue */

        .button3 {background-color: #800080;} /* Blue */
    </style>

{% endblock %}

{% block body %}

    <br>
    <br><br><br>
    <center>
    <div class="3_boxes" style="align: center">

        <form method="POST" action="/fetch_n_store">
            <button class="button button1" >
                Fetch Data and Store
            </button>
        </form>


        <form method="POST" action="/make_new_model">
            <button class="button button2" >
                Make new Model
            </button>
        </form>

        <form method="POST" action="/test_model">
            <button class="button button3" >
                Test on Saved Model
            </button>
        </form>

    </div>
    </center>

{% endblock %}
